
.far {
    cursor: pointer;    
}

.green-icon {
    color:green;
}

.red-icon {
    color:red;
}

#titulo {
    margin-bottom: 20px;
}

#info {
    margin-top: 20px;
}

#info,
#titulo {
    color: #ffffff;
}

#info a {
    color:#ffffff;
}