<div class="container mt-5">
  <div  class="row text-center" id="titulo">
    <h1 >CRUD</h1>
    <h2 >Angular + NET Core (API) + Entity Framework + SQL Server + Azure</h2>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h3 class="titulo center">TARJETAS DE CREDITO</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">{{ accion | uppercase }} TARJETA</h5>

          <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">
                <i
                  class="far fa-user"
                  [class.green-icon]="this.form.get('titular')?.valid"
                  [class.red-icon]="
                    this.form.get('titular')?.invalid &&
                    this.form.get('titular')?.touched
                  "
                ></i>
              </span>
              <input
                type="text"
                formControlName="titular"
                maxlength="35"
                class="form-control"
                placeholder="Titular"
              />
            </div>

            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">
                <i
                  class="far fa-credit-card"
                  [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                  [class.red-icon]="
                    this.form.get('numeroTarjeta')?.invalid &&
                    this.form.get('numeroTarjeta')?.touched
                  "
                ></i>
              </span>
              <input
                type="text"
                formControlName="numeroTarjeta"
                maxlength="16"
                class="form-control"
                placeholder="Número de Tarjeta"
              />
            </div>

            <div class="row">
              <div class="col-lg-7">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text">
                    <i
                      class="far fa-calendar-alt"
                      [class.green-icon]="
                        this.form.get('fechaExpiracion')?.valid
                      "
                      [class.red-icon]="
                        this.form.get('fechaExpiracion')?.invalid &&
                        this.form.get('fechaExpiracion')?.touched
                      "
                    ></i>
                  </span>
                  <input
                    type="text"
                    maxlength="5"
                    formControlName="fechaExpiracion"
                    class="form-control"
                    placeholder="MM/YY"
                  />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="input-group input-group-lg mb-3">
                  <span class="input-group-text">
                    <i
                      class="fas fa-key"
                      [class.green-icon]="this.form.get('cvv')?.valid"
                      [class.red-icon]="
                        this.form.get('cvv')?.invalid &&
                        this.form.get('cvv')?.touched
                      "
                    ></i>
                  </span>
                  <input
                    type="password"
                    maxlength="3"
                    formControlName="cvv"
                    class="form-control"
                    placeholder="CVV"
                  />
                </div>
              </div>
            </div>

            <div class="d-grid gap-2">
              <button
                [disabled]="this.form.invalid"
                class="btn btn-success btn-lg"
                type="submit"
              >
                <i class="fas fa-database"></i>&nbsp;Aceptar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">LISTADO DE TARJETAS</h5>

          <table class="table">
            <tbody>
              <tr *ngFor="let tarjeta of listTarjetas; let i = index">
                <td>{{ tarjeta.titular }}</td>
                <td>{{ tarjeta.numeroTarjeta }}</td>
                <td>{{ tarjeta.fechaExpiracion }}</td>
                <td>
                  <i
                    (click)="editarTarjeta(tarjeta)"
                    class="far fa-edit text-info"
                  ></i>
                </td>
                <td>
                  <i
                    (click)="eliminarTarjeta(tarjeta.id)"
                    class="far fa-trash-alt text-danger"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div  class="row text-center" id="info">
    <p >
        <a  href="https://josuevelazquez.online/?portfolio=crud-angular-netcore-sqlserver-azure" target="_self">
          Información técnica de este proyecto
        </a> y no olvides visitar mi sitio web
        <a href="https://josuevelazquez.online/" target="_blank">Josue Velazquez</a
      >
    </p>
    <p >
      Curso gratuito creado por
      <a        
        href="https://www.udemy.com/user/tomas-ruiz-diaz/"
        target="_blank"
        >Tomas Ruiz Diaz</a
      >
      y publicado en
      <a        
        href="https://www.udemy.com/course/crud-angular-9-net-core-entity-framework-coresqlserver/"
        target="_blank"
        >Udemy</a
      >
    </p>
    <p >
      NOTA: Los registros se
      <strong >eliminarán automáticamente</strong> después
      de <strong >30 minutos</strong> de su fecha de
      creación
    </p>
  </div>
</div>

<ngx-spinner type="ball-circus">Procesando...</ngx-spinner>